<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="01aee383-8dd9-4cc3-a83f-f082b2365d7e" name="RetrieveShipClassSummary_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="01aee383-8dd9-4cc3-a83f-f082b2365d7efileName">RetrieveShipClassSummary_TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
