<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="3189b12d-25be-4a37-92e1-1a9ce5fedc97" name="RetrieveFAQCategoriesContent" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="3189b12d-25be-4a37-92e1-1a9ce5fedc97fileName">RetrieveFAQCategoriesContent</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
