<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="a606118d-98de-4ac6-bb70-df3cf9f24fce" name="Resiliency Testing - Container Down" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="a606118d-98de-4ac6-bb70-df3cf9f24fcefileName">Resiliency-Testing---Container-Down</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="30493475-55f2-468b-affc-20813bdf1a94">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
