<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="a606118d-98de-4ac6-bb70-df3cf9f24fce" name="Resiliency Testing - Container Down" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="a606118d-98de-4ac6-bb70-df3cf9f24fcefileName">Resiliency-Testing---Container-Down</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="da4da12c-07ab-4206-acf3-1bc119bfa803">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="fc1d9e4e-4d88-49b3-9cb3-ef4210009f89">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="53516c62-e8e0-4b88-b003-4c0e2aa8dbd3">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="0fbe5b0b-a38f-4b5d-a073-1256bff7bd99">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
