<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="e21c9bfd-49c2-49a1-a86b-6191f6d75eaf" name="RetrieveWebPageContent_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="e21c9bfd-49c2-49a1-a86b-6191f6d75eaffileName">RetrieveWebPageContent_TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
