<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="569c720a-750b-4b3a-b03c-08a08f6ddf69" name="Amenity_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="940d9608-8f15-4e2f-9bbc-886c03d80023fileName">Interview_TestSuite</con:setting>
    <con:setting id="569c720a-750b-4b3a-b03c-08a08f6ddf69fileName">Amenity_TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
