<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="0946a77f-b867-4243-a01b-684d1dd4983c" name="RetriveAirports_TestSuite" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="0946a77f-b867-4243-a01b-684d1dd4983cfileName">RetriveAirports_TestSuite</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>