<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="80ee709f-d999-44db-bb25-ff2e992d319a" wadlVersion="http://wadl.dev.java.net/2009/02" name="CruiseSearch" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="80ee709f-d999-44db-bb25-ff2e992d319afileName">CruiseSearch</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>http://eslbservicestst01.rccl.com:13000</con:endpoint>
  </con:endpoints>
  <con:environmentSpec>
    <con:entry environmentId="25855cac-8c80-49bd-93ff-6e22fcdde5d9">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
