<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="315ad7c1-fde4-4a8e-8d18-23e2b675c19f" name="RetrieveAirports_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="315ad7c1-fde4-4a8e-8d18-23e2b675c19ffileName">RetrieveAirports_TestSuite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="1009a08b-a845-48a2-b1c6-aa5a500238ea">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
