<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="f03a39f5-a4ea-48f8-b232-7dd1992d5367" name="RetrieveStateroomSubtypeSummary_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="f03a39f5-a4ea-48f8-b232-7dd1992d5367fileName">RetrieveStateroomSubtypeSummary_TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
