<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="dd6defe6-4553-4726-a7cd-322bada3c414" name="WebLocation_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="940d9608-8f15-4e2f-9bbc-886c03d80023fileName">Interview_TestSuite</con:setting>
    <con:setting id="dd6defe6-4553-4726-a7cd-322bada3c414fileName">WebLocation_TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
