<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="03676555-d910-4300-9111-b8f3a055c02a" name="RetrieveCurrencies_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="03676555-d910-4300-9111-b8f3a055c02afileName">RetrieveCurrencies_TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
