<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="20c6354a-9ed6-4ad0-bfc8-fb118d4c7de9" name="FCC RedemptionRequestStatus_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="20c6354a-9ed6-4ad0-bfc8-fb118d4c7de9fileName">FCC-RedemptionRequestStatus_TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
