<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="6081841f-e88a-4351-a884-ff49248c35c6" name="RetrieveFAQContent_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="6081841f-e88a-4351-a884-ff49248c35c6fileName">RetrieveFAQContent_TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
