<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="746a37de-6b13-4f10-bf4d-93897f449684" name="RetrieveResourceBundle_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="746a37de-6b13-4f10-bf4d-93897f449684fileName">RetrieveResourceBundle_TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
