<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="87b151e4-c601-4713-8757-7693bfaab665" name="Positive - TestSuite1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="87b151e4-c601-4713-8757-7693bfaab665fileName">Positive---TestSuite1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="b184688a-3391-458c-9cbf-28a1da9e06a5">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="cd2d1d50-3d3b-4639-b0c6-3b31a67a9065">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="e0214587-14d2-4948-93d6-50ffda020abe">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="f0c84e04-8c43-4b65-8b3a-c89a32ce3bad">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="5b7f0edb-3bc7-4a0f-87b1-cc19488216dc">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="8a59a589-59b4-4db1-a706-cc881b352949">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="06eafee3-dfa3-4b09-9505-b6dae77c2787">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="0ed36b85-a157-4a16-aaa1-cf6a711f1058">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="30493475-55f2-468b-affc-20813bdf1a94">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
