<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="67ccb64b-9d9d-4ea5-bf15-37b3deff1e24" name="RetrievePackagesSummary _TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="67ccb64b-9d9d-4ea5-bf15-37b3deff1e24fileName">RetrievePackagesSummary-_TestSuite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="2ec36bd4-8e07-4ff7-976f-50b7fb197bda">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
