<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="832eacf1-6df3-47ff-a692-c7c60d6dbee8" wadlVersion="http://wadl.dev.java.net/2009/02" name="gifts" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="832eacf1-6df3-47ff-a692-c7c60d6dbee8fileName">gifts</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints/>
  <con:environmentSpec>
    <con:entry environmentId="25855cac-8c80-49bd-93ff-6e22fcdde5d9">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
