<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="96da824b-7d43-44a7-9c55-91b819fddd1b" name="Promotion-TargetedOffers_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="96da824b-7d43-44a7-9c55-91b819fddd1bfileName">Promotion-TargetedOffers_TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
