<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="7e9aea22-32f1-4540-a5c6-e57326fddc9f" name="Marketing Lead_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="7e9aea22-32f1-4540-a5c6-e57326fddc9ffileName">Marketing-Lead_TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
