<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="eda1c2db-3cdf-4e9a-99bf-09d268f2b0fe" name="RetrieveGiftCategories_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="eda1c2db-3cdf-4e9a-99bf-09d268f2b0fefileName">RetrieveGiftCategories_TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
