<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="af30987f-d27b-49d4-916a-133e727dee9d" name="RetrieveStateroomTypeSummary_TestSuite( need sailDate)" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="af30987f-d27b-49d4-916a-133e727dee9dfileName">RetrieveStateroomTypeSummary_TestSuite%28-need-sailDate%29</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="2ec36bd4-8e07-4ff7-976f-50b7fb197bda">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
