<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="10ee9489-3ae0-4167-a3ba-543a090b36a3" name="RetrieveSailings_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="10ee9489-3ae0-4167-a3ba-543a090b36a3fileName">RetrieveSailings_TestSuite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
