<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="f2a3d96f-8534-4d71-b45b-8fccc10b44d8" name="RetrieveAirportForPort_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="f2a3d96f-8534-4d71-b45b-8fccc10b44d8fileName">RetrieveAirportForPort_TestSuite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="1009a08b-a845-48a2-b1c6-aa5a500238ea">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
