<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="149f1a44-a707-4020-8550-613c50787886" name="RetrieveSailingSummary_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="149f1a44-a707-4020-8550-613c50787886fileName">RetrieveSailingSummary_TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
