<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="d4cccf90-fd41-4603-b3e8-00ca938fd436" name="RetrieveDeliveryLocation_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="d4cccf90-fd41-4603-b3e8-00ca938fd436fileName">RetrieveDeliveryLocation_TestSuite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="2ec36bd4-8e07-4ff7-976f-50b7fb197bda">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
