<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="027c0e7e-a0d5-4d2e-9683-6d7e7b4e90a2" name="GiftCategoriesSummary_ TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="027c0e7e-a0d5-4d2e-9683-6d7e7b4e90a2fileName">GiftCategoriesSummary_-TestSuite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="2ec36bd4-8e07-4ff7-976f-50b7fb197bda">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
