<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="2796db4c-6ad6-46ea-9293-aa0dd7aecff3" name="RetrieveVanityUrl_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="2796db4c-6ad6-46ea-9293-aa0dd7aecff3fileName">RetrieveVanityUrl_TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
