<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="c43c9623-8327-4204-bbed-cafbffcd2e25" name="FCC RedemptionRequest_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="c43c9623-8327-4204-bbed-cafbffcd2e25fileName">FCC-RedemptionRequest_TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
