<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="75f1da99-3934-41a6-b601-d32de11d6324" wadlVersion="http://wadl.dev.java.net/2009/02" name="REST Service 2" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="75f1da99-3934-41a6-b601-d32de11d6324fileName">REST-Service-2</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints/>
</con:interface>
