<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="a1305fb9-c26f-4628-8713-265120ffd668" name="Booking Creation - Parallel Execution" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="4cb22652-7f3c-4064-8693-2e7ad2f2f1b7fileName">Booking-Creation-without-Data-Source</con:setting>
    <con:setting id="a1305fb9-c26f-4628-8713-265120ffd668fileName">Booking-Creation---Parallel-Execution</con:setting>
  </con:settings>
  <con:runType>PARALLELL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="c3a4b580-ecc4-4d69-9e64-f4e9abf07977">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="1c5befc7-2431-43ac-871b-0634d210ea0b">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="40616221-3f9c-4753-b281-39f5bafc4e2c">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
