<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="801a99bf-32bc-4f7c-9749-1020a30012df" name="RetrieveGiftCollections_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="801a99bf-32bc-4f7c-9749-1020a30012dffileName">RetrieveGiftCollections_TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
