<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="7723eb2b-f2f3-4bd1-bac9-543e624b2462" name="Profile Service_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="b064231e-464f-4092-b0a8-b34b5a2bb97ffileName">Profile-Service_TestSuite</con:setting>
    <con:setting id="7723eb2b-f2f3-4bd1-bac9-543e624b2462fileName">Profile-Service_TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="92f9414f-b97d-4de4-b3f6-65c45370d025">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="9404251c-aa95-4211-92b0-acf26221ea4b">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="b19aad4b-d810-4db2-b513-2c2817380f9a">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="b5472774-b14d-4f96-8d78-25c02e32cec1">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
