<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="55cc7faa-c697-45ea-91eb-3eaf7b1281d6" name="RetrieveShipItineraries_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="55cc7faa-c697-45ea-91eb-3eaf7b1281d6fileName">RetrieveShipItineraries_TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
