<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="dc447372-27d6-4868-a0fe-40a95d342efb" name="Google" type="rest_ex" wadlVersion="https://swagger.io/openapiv3/specification" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <con:settings>
    <con:setting id="dc447372-27d6-4868-a0fe-40a95d342efbfileName">Google</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart="Google.json">
    <con:part>
      <con:url>Google.json</con:url>
      <con:content>{"openapi":"3.0.1","info":{"title":"Google","version":"1.0.0"},"servers":[{"url":"/"}],"paths":{"":{"description":"","get":{"description":"","responses":{"default":{"description":"Default response"}}}}}}</con:content>
      <con:type>https://swagger.io/openapiv3/specification</con:type>
    </con:part>
  </con:definitionCache>
  <con:endpoints/>
</con:interface>
