<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="f1e63aeb-4989-4efd-9f96-18e28cc6a79b" name="RetrieveDestinationSummary_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="f1e63aeb-4989-4efd-9f96-18e28cc6a79bfileName">RetrieveDestinationSummary_TestSuite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="2ec36bd4-8e07-4ff7-976f-50b7fb197bda">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
