<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="6531cc06-f9fc-4e52-8038-39d26e11001e" name="Positive_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="98a951af-542b-4172-a5b3-a10ebcce65a2fileName">Positive_TestSuite</con:setting>
    <con:setting id="6531cc06-f9fc-4e52-8038-39d26e11001efileName">Positive_TestSuite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="25855cac-8c80-49bd-93ff-6e22fcdde5d9">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
