<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="0a659a95-e7e6-4a83-97f5-c8c4b64d38e0" name="Promotion-BBB_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="0a659a95-e7e6-4a83-97f5-c8c4b64d38e0fileName">Promotion-BBB_TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
