<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="c9216ff0-0cbc-479b-892e-20c153b6e23c" name="RetrieveStateroomSubtypeContent_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="c9216ff0-0cbc-479b-892e-20c153b6e23cfileName">RetrieveStateroomSubtypeContent_TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
