<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="55695577-d9b7-4c0a-9878-c72b5ecc24c0" name="RetrieveCountriesReference_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="55695577-d9b7-4c0a-9878-c72b5ecc24c0fileName">RetrieveCountriesReference_TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
