<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="ab96daee-8c31-4098-8b2f-b03cf00d68bc" name="Vanity URL_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="940d9608-8f15-4e2f-9bbc-886c03d80023fileName">Interview_TestSuite</con:setting>
    <con:setting id="ab96daee-8c31-4098-8b2f-b03cf00d68bcfileName">Vanity-URL_TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
