<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="25d61f7b-3a11-48be-a1c1-57c874a93a6c" name="RetrieveShipActivities_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="25d61f7b-3a11-48be-a1c1-57c874a93a6cfileName">RetrieveShipActivities_TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
