<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="899eacdd-b2c6-4de0-96cf-d7b2c8f7833e" name="RetrieveEmailById_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="940d9608-8f15-4e2f-9bbc-886c03d80023fileName">Interview_TestSuite</con:setting>
    <con:setting id="899eacdd-b2c6-4de0-96cf-d7b2c8f7833efileName">RetrieveEmailById_TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
