<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="5bc5c367-4e5e-4fdd-a6e7-55a6f0b26c36" name="RetrieveHotelSummary_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="5bc5c367-4e5e-4fdd-a6e7-55a6f0b26c36fileName">RetrieveHotelSummary_TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
