<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="e9fd7848-b2f3-4aec-989a-ff4a4a6556b8" name="RetrievePackageContent_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="e9fd7848-b2f3-4aec-989a-ff4a4a6556b8fileName">RetrievePackageContent_TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
