<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="b6d139f5-865b-48a4-885e-eb6bd5624efc" name="RetrieveTourItineraryEventsSummary_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="b6d139f5-865b-48a4-885e-eb6bd5624efcfileName">RetrieveTourItineraryEventsSummary_TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
