<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="b7822789-c3d0-4abc-88ec-b03c3a876975" name="RetrieveCodeSet_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="b7822789-c3d0-4abc-88ec-b03c3a876975fileName">RetrieveCodeSet_TestSuite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="2ec36bd4-8e07-4ff7-976f-50b7fb197bda">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
