<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="827ee869-4b44-4b25-ad71-536a6002a842" name="Booking Creation - Data Source" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="827ee869-4b44-4b25-ad71-536a6002a842fileName">Booking-Creation---Data-Source</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="c3a4b580-ecc4-4d69-9e64-f4e9abf07977">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="1c5befc7-2431-43ac-871b-0634d210ea0b">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="40616221-3f9c-4753-b281-39f5bafc4e2c">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
