<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="931af850-ff4c-4437-90df-4587cf0da4fb" created="2.3.0" activeEnvironment="Tst2 - Apigee" name="Booking_REST" resourceRoot="${projectDir}" updated="3.42.0" encryptionMode="Not encrypted" abortOnError="false" runType="SEQUENTIAL" soapui-version="5.5.0" projectVersion="f0f2aba4-7c3a-49df-8606-4ff6a1f662a3" compositeProjectFormat="1.3" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="IncludeOverview">true</con:setting>
    <con:setting id="IncludeResults">true</con:setting>
    <con:setting id="FlowLayout">false</con:setting>
    <con:setting id="ErrorDetails">true</con:setting>
    <con:setting id="IncludeCoverage">true</con:setting>
    <con:setting id="GeneratableJUnitReport@Style">Multiple Pages</con:setting>
    <con:setting id="GeneratableJUnitReport@Folder">C:\ReadyAPI Scripts\Reports</con:setting>
    <con:setting id="931af850-ff4c-4437-90df-4587cf0da4fbfileName">Booking_REST-readyapi-project</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:requirements/>
  <con:properties>
    <con:property>
      <con:name>AppKey</con:name>
    </con:property>
    <con:property>
      <con:name>Refresh-Cache</con:name>
    </con:property>
    <con:property>
      <con:name>Apigee-application</con:name>
    </con:property>
  </con:properties>
  <con:wssContainer/>
  <con:databaseConnectionContainer>
    <con:databaseConnection>
      <con:name>Test</con:name>
      <con:driver>com.microsoft.sqlserver.jdbc.SQLServerDriver</con:driver>
      <con:connectionString>jdbc:sqlserver://devsqlicl06.rccl.com:58369;databaseName=devsqlicl06.rccl.com;user=b2c_user;password=PASS_VALUE</con:connectionString>
      <con:password>b2c_user</con:password>
      <con:connectionProperties/>
    </con:databaseConnection>
    <con:databaseConnection>
      <con:name>Stg</con:name>
      <con:driver/>
      <con:connectionString>jdbc:sqlserver://WINSQLsCLDB02.rccl.com:58369;databaseName=WebShopper;user=b2c_user;password=PASS_VALUE</con:connectionString>
      <con:password>b2c_user</con:password>
      <con:connectionProperties/>
    </con:databaseConnection>
  </con:databaseConnectionContainer>
  <con:jmsConnectionContainer/>
  <con:oAuth2ProfileContainer/>
  <con:oAuth1ProfileContainer/>
  <con:environment id="f8dfa3ed-98ae-4c72-819e-1f129985913f" name="Tst1 - Apigee">
    <con:service type="REST" name="CruiseSearch">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">${#Global#cruiseSearch-endpoint-tst1}</con:endpoint>
    </con:service>
    <con:service type="REST" name="Booking">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">${#Global#booking-endpoint-apigee-tst1}</con:endpoint>
    </con:service>
    <con:service type="REST" name="Management">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">${#Global#management-endpoint-apigee-tst1}</con:endpoint>
    </con:service>
    <con:service type="REST" name="Content">
      <con:endpoint authProfile="No Authorization" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">${#Global#content-endpoint-apigee-tst1}</con:endpoint>
    </con:service>
    <con:property>
      <con:name>AppKey</con:name>
      <con:value>csbiHs6ix97InkAwG135AJkNQQcoWOpw</con:value>
    </con:property>
    <con:property>
      <con:name>Refresh-Cache</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Apigee-application</con:name>
      <con:value>celebrityWeb</con:value>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>Test</con:name>
        <con:driver>com.microsoft.sqlserver.jdbc.SQLServerDriver</con:driver>
        <con:connectionString>jdbc:sqlserver://devsqlicl06.rccl.com:58369;databaseName=devsqlicl06.rccl.com;user=b2c_user;password=PASS_VALUE</con:connectionString>
        <con:password>b2c_user</con:password>
        <con:connectionProperties/>
      </con:databaseConnection>
      <con:databaseConnection>
        <con:name>Stg</con:name>
        <con:driver>com.microsoft.sqlserver.jdbc.SQLServerDriver</con:driver>
        <con:connectionString>jdbc:sqlserver://WINSQLsCLDB02.rccl.com:58369;databaseName=WebShopper;user=b2c_user;password=PASS_VALUE</con:connectionString>
        <con:password>b2c_user</con:password>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="9922ee0f-40db-4a49-9447-17f361e3096c" name="Tst2 - Apigee">
    <con:service type="REST" name="CruiseSearch">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">${#Global#cruiseSearch-endpoint-tst2}</con:endpoint>
    </con:service>
    <con:service type="REST" name="Booking">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">${#Global#booking-endpoint-apigee-tst2}</con:endpoint>
    </con:service>
    <con:service type="REST" name="Management">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">${#Global#management-endpoint-apigee-tst2}</con:endpoint>
    </con:service>
    <con:service type="REST" name="Content">
      <con:endpoint authProfile="No Authorization" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">${#Global#content-endpoint-apigee-tst2}</con:endpoint>
    </con:service>
    <con:property>
      <con:name>AppKey</con:name>
      <con:value>csbiHs6ix97InkAwG135AJkNQQcoWOpw</con:value>
    </con:property>
    <con:property>
      <con:name>Refresh-Cache</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Apigee-application</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>Test</con:name>
        <con:driver>com.microsoft.sqlserver.jdbc.SQLServerDriver</con:driver>
        <con:connectionString>jdbc:sqlserver://devsqlicl06.rccl.com:58369;databaseName=devsqlicl06.rccl.com;user=b2c_user;password=PASS_VALUE</con:connectionString>
        <con:password>b2c_user</con:password>
        <con:connectionProperties/>
      </con:databaseConnection>
      <con:databaseConnection>
        <con:name>Stg</con:name>
        <con:driver>com.microsoft.sqlserver.jdbc.SQLServerDriver</con:driver>
        <con:connectionString>jdbc:sqlserver://WINSQLsCLDB02.rccl.com:58369;databaseName=WebShopper;user=b2c_user;password=PASS_VALUE</con:connectionString>
        <con:password>b2c_user</con:password>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="0833c981-c533-4700-abe7-81135fb5a38a" name="Tst3 - Apigee">
    <con:service type="REST" name="CruiseSearch">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">${#Global#cruiseSearch-endpoint-tst3}</con:endpoint>
    </con:service>
    <con:service type="REST" name="Booking">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">${#Global#booking-endpoint-apigee-tst3}</con:endpoint>
    </con:service>
    <con:service type="REST" name="Management">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">${#Global#management-endpoint-apigee-tst3}</con:endpoint>
    </con:service>
    <con:service type="REST" name="Content">
      <con:endpoint authProfile="No Authorization" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">${#Global#content-endpoint-apigee-tst3}</con:endpoint>
    </con:service>
    <con:property>
      <con:name>AppKey</con:name>
      <con:value>bjnm9J1yJjsQQLqQ8H1ffKtDAv3kQohG</con:value>
    </con:property>
    <con:property>
      <con:name>Refresh-Cache</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Apigee-application</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>Test</con:name>
        <con:driver>com.microsoft.sqlserver.jdbc.SQLServerDriver</con:driver>
        <con:connectionString>jdbc:sqlserver://devsqlicl06.rccl.com:58369;databaseName=devsqlicl06.rccl.com;user=b2c_user;password=PASS_VALUE</con:connectionString>
        <con:password>b2c_user</con:password>
        <con:connectionProperties/>
      </con:databaseConnection>
      <con:databaseConnection>
        <con:name>Stg</con:name>
        <con:driver>com.microsoft.sqlserver.jdbc.SQLServerDriver</con:driver>
        <con:connectionString>jdbc:sqlserver://WINSQLsCLDB02.rccl.com:58369;databaseName=WebShopper;user=b2c_user;password=PASS_VALUE</con:connectionString>
        <con:password>b2c_user</con:password>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="1328077e-edb5-4f23-99ac-ba2884c570c2" name="Stg1 - Apigee">
    <con:service type="REST" name="CruiseSearch">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">${#Global#cruiseSearch-endpoint-stg1}</con:endpoint>
    </con:service>
    <con:service type="REST" name="Booking">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">${#Global#booking-endpoint-apigee-stg1}</con:endpoint>
    </con:service>
    <con:service type="REST" name="Management">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">${#Global#management-endpoint-apigee-stg1}</con:endpoint>
    </con:service>
    <con:service type="REST" name="Content">
      <con:endpoint authProfile="No Authorization" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">${#Global#content-endpoint-apigee-stg1}</con:endpoint>
    </con:service>
    <con:property>
      <con:name>AppKey</con:name>
      <con:value>qP2wzibM0y9rLeRc3jAZQEoBMGgtVGj7</con:value>
    </con:property>
    <con:property>
      <con:name>Refresh-Cache</con:name>
      <con:value>true</con:value>
    </con:property>
    <con:property>
      <con:name>Apigee-application</con:name>
      <con:value>royalWeb</con:value>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>Test</con:name>
        <con:driver>com.microsoft.sqlserver.jdbc.SQLServerDriver</con:driver>
        <con:connectionString>jdbc:sqlserver://devsqlicl06.rccl.com:58369;databaseName=devsqlicl06.rccl.com;user=b2c_user;password=PASS_VALUE</con:connectionString>
        <con:password>b2c_user</con:password>
        <con:connectionProperties/>
      </con:databaseConnection>
      <con:databaseConnection>
        <con:name>Stg</con:name>
        <con:driver>com.microsoft.sqlserver.jdbc.SQLServerDriver</con:driver>
        <con:connectionString>jdbc:sqlserver://WINSQLsCLDB02.rccl.com:58369;databaseName=WebShopper;user=b2c_user;password=PASS_VALUE</con:connectionString>
        <con:password>b2c_user</con:password>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="78366991-1005-4019-b46c-c36122958cb5" name="Prd - Apigee">
    <con:service type="REST" name="CruiseSearch">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">${#Global#cruiseSearch-endpoint-prd}</con:endpoint>
    </con:service>
    <con:service type="REST" name="Booking">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">${#Global#booking-endpoint-apigee-prd}</con:endpoint>
    </con:service>
    <con:service type="REST" name="Management">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">${#Global#management-endpoint-apigee-prd}</con:endpoint>
    </con:service>
    <con:service type="REST" name="Content">
      <con:endpoint authProfile="No Authorization" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">${#Global#content-endpoint-apigee-prd}</con:endpoint>
    </con:service>
    <con:property>
      <con:name>AppKey</con:name>
      <con:value>qpRMO6lj4smwkT1sWlSdIj7b8QF5rG8Q</con:value>
    </con:property>
    <con:property>
      <con:name>Refresh-Cache</con:name>
      <con:value>TRUE</con:value>
    </con:property>
    <con:property>
      <con:name>Apigee-application</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>Test</con:name>
        <con:driver>com.microsoft.sqlserver.jdbc.SQLServerDriver</con:driver>
        <con:connectionString>jdbc:sqlserver://devsqlicl06.rccl.com:58369;databaseName=devsqlicl06.rccl.com;user=b2c_user;password=PASS_VALUE</con:connectionString>
        <con:password>b2c_user</con:password>
        <con:connectionProperties/>
      </con:databaseConnection>
      <con:databaseConnection>
        <con:name>Stg</con:name>
        <con:driver>com.microsoft.sqlserver.jdbc.SQLServerDriver</con:driver>
        <con:connectionString>jdbc:sqlserver://WINSQLsCLDB02.rccl.com:58369;databaseName=WebShopper;user=b2c_user;password=PASS_VALUE</con:connectionString>
        <con:password>b2c_user</con:password>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="361d8992-6d1c-42db-abc6-a3db88088a91" name="prd1a - istio">
    <con:service type="REST" name="CruiseSearch">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">${#Global#cruiseSearch-endpoint-prd}</con:endpoint>
    </con:service>
    <con:service type="REST" name="Booking">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">${#Global#booking-endpoint-istio-prd1a}</con:endpoint>
    </con:service>
    <con:service type="REST" name="Management">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">${#Global#management-endpoint-istio-prd1a}</con:endpoint>
    </con:service>
    <con:service type="REST" name="Content">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">${#Global#content-endpoint-istio-prd1a}</con:endpoint>
    </con:service>
    <con:property>
      <con:name>AppKey</con:name>
      <con:value>IxXPQQ9zMH1sqEouOnoaCCPwDRPATiKo</con:value>
    </con:property>
    <con:property>
      <con:name>Refresh-Cache</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Apigee-application</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>Test</con:name>
        <con:driver>com.microsoft.sqlserver.jdbc.SQLServerDriver</con:driver>
        <con:connectionString>jdbc:sqlserver://devsqlicl06.rccl.com:58369;databaseName=devsqlicl06.rccl.com;user=b2c_user;password=PASS_VALUE</con:connectionString>
        <con:password>b2c_user</con:password>
        <con:connectionProperties/>
      </con:databaseConnection>
      <con:databaseConnection>
        <con:name>Stg</con:name>
        <con:driver/>
        <con:connectionString>jdbc:sqlserver://WINSQLsCLDB02.rccl.com:58369;databaseName=WebShopper;user=b2c_user;password=PASS_VALUE</con:connectionString>
        <con:password>b2c_user</con:password>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="4ffc1287-e3e9-4aba-aa44-a81cbddd261a" name="prd1b - istio">
    <con:service type="REST" name="CruiseSearch">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">${#Global#cruiseSearch-endpoint-prd}</con:endpoint>
    </con:service>
    <con:service type="REST" name="Booking">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">${#Global#booking-endpoint-istio-prd1b}</con:endpoint>
    </con:service>
    <con:service type="REST" name="Management">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">${#Global#management-endpoint-istio-prd1b}</con:endpoint>
    </con:service>
    <con:service type="REST" name="Content">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">${#Global#content-endpoint-istio-prd1b}</con:endpoint>
    </con:service>
    <con:property>
      <con:name>AppKey</con:name>
      <con:value>IxXPQQ9zMH1sqEouOnoaCCPwDRPATiKo</con:value>
    </con:property>
    <con:property>
      <con:name>Refresh-Cache</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Apigee-application</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>Test</con:name>
        <con:driver>com.microsoft.sqlserver.jdbc.SQLServerDriver</con:driver>
        <con:connectionString>jdbc:sqlserver://devsqlicl06.rccl.com:58369;databaseName=devsqlicl06.rccl.com;user=b2c_user;password=PASS_VALUE</con:connectionString>
        <con:password>b2c_user</con:password>
        <con:connectionProperties/>
      </con:databaseConnection>
      <con:databaseConnection>
        <con:name>Stg</con:name>
        <con:driver/>
        <con:connectionString>jdbc:sqlserver://WINSQLsCLDB02.rccl.com:58369;databaseName=WebShopper;user=b2c_user;password=PASS_VALUE</con:connectionString>
        <con:password>b2c_user</con:password>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:authRepository/>
  <con:environmentSpec>
    <con:entry environmentId="25855cac-8c80-49bd-93ff-6e22fcdde5d9">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
  </con:environmentSpec>
  <con:tags/>
</con:soapui-project>
