<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="b064231e-464f-4092-b0a8-b34b5a2bb97f" name="Profile Service_TestSuite" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="b064231e-464f-4092-b0a8-b34b5a2bb97ffileName">Profile-Service_TestSuite</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>