<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="c33cd2d5-a8ac-4f25-8f50-3adb057400a1" name="RetrieveDecksSummaryRequest_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="c33cd2d5-a8ac-4f25-8f50-3adb057400a1fileName">RetrieveDecksSummaryRequest_TestSuite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="2ec36bd4-8e07-4ff7-976f-50b7fb197bda">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
