<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="b5f9ffa8-b943-4cc3-b432-aa95ba33d25f" wadlVersion="http://wadl.dev.java.net/2009/02" name="Content" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="b5f9ffa8-b943-4cc3-b432-aa95ba33d25ffileName">Content</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints/>
  <con:environmentSpec>
    <con:entry environmentId="2ec36bd4-8e07-4ff7-976f-50b7fb197bda">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
