<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="97da8073-d3d8-4b3e-80a1-480254b56eb1" name="GetStateroomSubtypesSummary_ TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="97da8073-d3d8-4b3e-80a1-480254b56eb1fileName">GetStateroomSubtypesSummary_-TestSuite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="1009a08b-a845-48a2-b1c6-aa5a500238ea">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
