<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="c7d1c7a4-a8df-4a2e-ad99-5f34327e62b8" name="RetrieveStateroomDetail with DB_ TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="c7d1c7a4-a8df-4a2e-ad99-5f34327e62b8fileName">RetrieveStateroomDetail-with-DB_-TestSuite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="2ec36bd4-8e07-4ff7-976f-50b7fb197bda">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
