<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="e2b07c52-f246-4636-9b56-d7a3bc3eb655" name="RetrieveRelatedPorts_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="e2b07c52-f246-4636-9b56-d7a3bc3eb655fileName">RetrieveRelatedPorts_TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
