<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="fce69b4b-415f-404d-8d84-c3ff8fa39e14" name="RetrieveShipActivityType_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="fce69b4b-415f-404d-8d84-c3ff8fa39e14fileName">RetrieveShipActivityType_TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
