<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="64f0d513-c140-473f-95eb-2f59c3f7c8e3" name="GetStateroomsSummary_ TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="64f0d513-c140-473f-95eb-2f59c3f7c8e3fileName">GetStateroomsSummary_-TestSuite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="1009a08b-a845-48a2-b1c6-aa5a500238ea">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
