<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="6f742f03-2ad2-4a24-bb9e-b5001a2fd70e" name="JobRoleLocation_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="6f742f03-2ad2-4a24-bb9e-b5001a2fd70efileName">JobRoleLocation_TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
