<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="f2b2ea71-a22c-4e8e-a9a4-7d5056f0266d" name="RetrieveStateroomTypeContent_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="f2b2ea71-a22c-4e8e-a9a4-7d5056f0266dfileName">RetrieveStateroomTypeContent_TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
