<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="2606c521-71d2-4053-9564-04acf38ccda3" name="QA Test Suite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="2606c521-71d2-4053-9564-04acf38ccda3fileName">QA-Test-Suite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
