<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="3f63179a-ccc6-441c-934b-01b87f00dd7e" name="Negative _ TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="3f63179a-ccc6-441c-934b-01b87f00dd7efileName">Negative-_-TestSuite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="30493475-55f2-468b-affc-20813bdf1a94">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
