<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="a35d6447-73f7-427e-901e-418d17319b83" name="RetrievePromoFilters_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="a35d6447-73f7-427e-901e-418d17319b83fileName">RetrievePromoFilters_TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
