<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="e2b0c348-2bb7-4558-a3ea-d273b04383ab" name="RetrieveGuaranteedStateroomsContent_ TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="e2b0c348-2bb7-4558-a3ea-d273b04383abfileName">RetrieveGuaranteedStateroomsContent_-TestSuite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="2ec36bd4-8e07-4ff7-976f-50b7fb197bda">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
