<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="bda0e44b-5a6b-42ab-b937-c63ca8a7a784" created="2.3.0" activeEnvironment="RLE" name="Catalog_REST" resourceRoot="${projectDir}" updated="3.44.1" encryptionMode="Not encrypted" abortOnError="false" runType="SEQUENTIAL" soapui-version="5.3.0" compositeProjectFormat="1.3" projectVersion="" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="IncludeOverview">true</con:setting>
    <con:setting id="IncludeResults">true</con:setting>
    <con:setting id="FlowLayout">false</con:setting>
    <con:setting id="ErrorDetails">true</con:setting>
    <con:setting id="IncludeCoverage">true</con:setting>
    <con:setting id="GeneratableJUnitReport@Style">Multiple Pages</con:setting>
    <con:setting id="GeneratableJUnitReport@Folder">C:\ReadyAPI Scripts\Reports</con:setting>
    <con:setting id="bda0e44b-5a6b-42ab-b937-c63ca8a7a784fileName">Catalog_REST-readyapi-project</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:requirements/>
  <con:properties>
    <con:property>
      <con:name>AppKey</con:name>
    </con:property>
    <con:property>
      <con:name>Authorization</con:name>
    </con:property>
  </con:properties>
  <con:wssContainer/>
  <con:databaseConnectionContainer>
    <con:databaseConnection>
      <con:name>STG SQL Server</con:name>
      <con:driver>com.microsoft.sqlserver.jdbc.SQLServerDriver</con:driver>
      <con:connectionString>jdbc:sqlserver://WINSQLSCLDB04.NA.RCCL.com:41852;databaseName=CruisingPowerWeb;user=b2c_user;password=PASS_VALUE</con:connectionString>
      <con:password>b2c_user</con:password>
      <con:connectionProperties/>
    </con:databaseConnection>
  </con:databaseConnectionContainer>
  <con:jmsConnectionContainer/>
  <con:oAuth2ProfileContainer/>
  <con:oAuth1ProfileContainer/>
  <con:environment id="42157602-b8c5-47f9-af1e-2130f730aa7d" name="RLE" index="0">
    <con:service type="REST" name="Google">
      <con:endpoint authProfile="No Authorization" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://sheetdb.io/api/v1/2qakncmxaivve</con:endpoint>
    </con:service>
    <con:service type="REST" name="Catalog operations">
      <con:endpoint authProfile="No Authorization" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://tst1-int.api.rccl.com/esl/catalog/tst2/rest/v2.0/</con:endpoint>
    </con:service>
    <con:service type="REST" name="Booking operations">
      <con:endpoint authProfile="No Authorization" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://tst1-int.api.rccl.com/esl/booking/tst2</con:endpoint>
    </con:service>
    <con:service type="REST" name="Cruise Search">
      <con:endpoint authProfile="No Authorization" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://eslaservicestst01.rccl.com:13030</con:endpoint>
    </con:service>
    <con:service type="REST" name="Content operations">
      <con:endpoint authProfile="No Authorization" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://tst1-int.api.rccl.com/esl/content/tst2</con:endpoint>
    </con:service>
    <con:property>
      <con:name>AppKey</con:name>
      <con:value>ZJCQR5Gf2v7I5zaz8jtOGGe3sbTXMcJp</con:value>
    </con:property>
    <con:property>
      <con:name>Authorization</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>STG SQL Server</con:name>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="023d5f95-8b24-4eb6-8648-20f5c275fcde" name="RLC" index="1">
    <con:service type="REST" name="Google">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://sheetdb.io/api/v1/2qakncmxaivve</con:endpoint>
    </con:service>
    <con:service type="REST" name="Catalog operations">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://tst1-int.api.rccl.com/esl/catalog/tst1/rest/v2.0/</con:endpoint>
    </con:service>
    <con:service type="REST" name="Booking operations">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://tst1-int.api.rccl.com/esl/booking/tst1</con:endpoint>
    </con:service>
    <con:service type="REST" name="Cruise Search">
      <con:endpoint authProfile="No Authorization" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://eslaservicestst01.rccl.com:13000</con:endpoint>
    </con:service>
    <con:service type="REST" name="Content operations">
      <con:endpoint authProfile="No Authorization" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://tst1-int.api.rccl.com/esl/content/tst1</con:endpoint>
    </con:service>
    <con:property>
      <con:name>AppKey</con:name>
      <con:value>ZJCQR5Gf2v7I5zaz8jtOGGe3sbTXMcJp</con:value>
    </con:property>
    <con:property>
      <con:name>Authorization</con:name>
      <con:value>Bearer s8s90iskear5524o11qoifz4mtvb5q30nuu03pwr</con:value>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>STG SQL Server</con:name>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="96d4314e-6e03-4321-8626-e4458d266788" name="RLB" index="2">
    <con:service type="REST" name="Google">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://sheetdb.io/api/v1/2qakncmxaivve</con:endpoint>
    </con:service>
    <con:service type="REST" name="Catalog operations">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://tst1-int.api.rccl.com/esl/catalog/tst3/rest/v2.0/</con:endpoint>
    </con:service>
    <con:service type="REST" name="Booking operations">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://tst1-int.api.rccl.com/esl/booking/tst3</con:endpoint>
    </con:service>
    <con:service type="REST" name="Cruise Search">
      <con:endpoint authProfile="No Authorization" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://eslaservicestst01.rccl.com:13060</con:endpoint>
    </con:service>
    <con:service type="REST" name="Content operations">
      <con:endpoint authProfile="No Authorization" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://tst1-int.api.rccl.com/esl/content/tst3</con:endpoint>
    </con:service>
    <con:property>
      <con:name>AppKey</con:name>
      <con:value>ZJCQR5Gf2v7I5zaz8jtOGGe3sbTXMcJp</con:value>
    </con:property>
    <con:property>
      <con:name>Authorization</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>STG SQL Server</con:name>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="885ea0d8-3eb9-48a0-9f53-ecee03cc9f68" name="Production" index="3">
    <con:service type="REST" name="Google">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://sheetdb.io/api/v1/ienf9s3f2wsx2</con:endpoint>
    </con:service>
    <con:service type="REST" name="Catalog operations">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://prd-int.api.rccl.com/esl/catalog/prd</con:endpoint>
    </con:service>
    <con:service type="REST" name="Booking operations">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://prd-int.api.rccl.com/esl/booking/prd</con:endpoint>
    </con:service>
    <con:service type="REST" name="Cruise Search">
      <con:endpoint authProfile="No Authorization" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://cul.esla.internal.services.rccl.com</con:endpoint>
    </con:service>
    <con:service type="REST" name="Content operations">
      <con:endpoint authProfile="No Authorization" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://prd-int.api.rccl.com/esl/content/prd</con:endpoint>
    </con:service>
    <con:property>
      <con:name>AppKey</con:name>
      <con:value>hyNNqIPHHzaLzVpcICPdAdbFV8yvTsAm</con:value>
    </con:property>
    <con:property>
      <con:name>Authorization</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>STG SQL Server</con:name>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:authRepository/>
  <con:environmentSpec>
    <con:entry environmentId="42157602-b8c5-47f9-af1e-2130f730aa7d">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="023d5f95-8b24-4eb6-8648-20f5c275fcde">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="96d4314e-6e03-4321-8626-e4458d266788">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="885ea0d8-3eb9-48a0-9f53-ecee03cc9f68">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
  </con:environmentSpec>
  <con:tags/>
</con:soapui-project>
