<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="bb238d86-c5cc-476e-b731-2d96781ea2ad" name="RetrieveGiftItemsContent_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="bb238d86-c5cc-476e-b731-2d96781ea2adfileName">RetrieveGiftItemsContent_TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
