<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="d2ebaf24-f6d0-4f81-a5a6-51a9d8263d2d" name="RetrieveGlobalNavigation_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="d2ebaf24-f6d0-4f81-a5a6-51a9d8263d2dfileName">RetrieveGlobalNavigation_TestSuite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="2ec36bd4-8e07-4ff7-976f-50b7fb197bda">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
