<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="4e8cd5d9-6bc2-4b56-bb62-d0f31864bc8b" name="RetrieveAirlines_TestSuite" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="3d9d2ff6-d1a2-4c3c-a220-e2a2f9148450fileName">RetrieveAirlines_TestSuite</con:setting><con:setting id="4e8cd5d9-6bc2-4b56-bb62-d0f31864bc8bfileName">RetrieveAirlines_TestSuite</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>