<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="f2394d47-8f02-4ca3-9519-127411bf26a3" name="Google" type="rest_ex" wadlVersion="https://swagger.io/openapiv3/specification" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <con:settings>
    <con:setting id="f2394d47-8f02-4ca3-9519-127411bf26a3fileName">Google</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart="Google.json">
    <con:part>
      <con:url>Google.json</con:url>
      <con:content>{"openapi":"3.0.1","info":{"title":"Google","description":"","version":"1.0.0"},"servers":[],"paths":{}}</con:content>
      <con:type>https://swagger.io/openapiv3/specification</con:type>
    </con:part>
  </con:definitionCache>
  <con:endpoints/>
  <con:environmentSpec>
    <con:entry environmentId="da4da12c-07ab-4206-acf3-1bc119bfa803">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="fc1d9e4e-4d88-49b3-9cb3-ef4210009f89">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="53516c62-e8e0-4b88-b003-4c0e2aa8dbd3">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="0fbe5b0b-a38f-4b5d-a073-1256bff7bd99">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
