<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="7c3e8bf1-ae33-4fb1-a0b4-6e0ac8223776" name="Google" type="rest_ex" wadlVersion="https://swagger.io/openapiv3/specification" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="b69cae8b-8d77-4512-9e32-3fa5ce7ad756fileName">Google</con:setting>
  <con:setting id="7c3e8bf1-ae33-4fb1-a0b4-6e0ac8223776fileName">Google</con:setting></con:settings>
  <con:definitionCache type="TEXT" rootPart="Google.json">
    <con:part>
      <con:url>Google.json</con:url>
      <con:content>{"openapi":"3.0.1","info":{"title":"Google","version":"1.0.0"},"servers":[{"url":"/"}],"paths":{"":{"description":"","get":{"description":"","responses":{"default":{"description":"Default response"}}}}}}</con:content>
      <con:type>https://swagger.io/openapiv3/specification</con:type>
    </con:part>
  </con:definitionCache>
  <con:endpoints/>
  <con:environmentSpec>
    <con:entry environmentId="1c5befc7-2431-43ac-871b-0634d210ea0b">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="40616221-3f9c-4753-b281-39f5bafc4e2c">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>