<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="27e67bbd-c1d6-410f-9333-0cdc6c86f112" name="GetTourItineraryEventsSummary_ TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="27e67bbd-c1d6-410f-9333-0cdc6c86f112fileName">GetTourItineraryEventsSummary_-TestSuite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="1009a08b-a845-48a2-b1c6-aa5a500238ea">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
