<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="54cad034-b66c-4a8c-8ba6-e2cd29c7872d" name="Booking Service_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="54cad034-b66c-4a8c-8ba6-e2cd29c7872dfileName">Booking-Service_TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="c3a4b580-ecc4-4d69-9e64-f4e9abf07977">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="1c5befc7-2431-43ac-871b-0634d210ea0b">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="40616221-3f9c-4753-b281-39f5bafc4e2c">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
