<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="caad79d3-079a-4938-9abe-2e345a8d0900" name="Resiliency Testing - with wrong URL" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="caad79d3-079a-4938-9abe-2e345a8d0900fileName">Resiliency-Testing---with-wrong-URL</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="b184688a-3391-458c-9cbf-28a1da9e06a5">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="cd2d1d50-3d3b-4639-b0c6-3b31a67a9065">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="da4da12c-07ab-4206-acf3-1bc119bfa803">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="fc1d9e4e-4d88-49b3-9cb3-ef4210009f89">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="53516c62-e8e0-4b88-b003-4c0e2aa8dbd3">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="0fbe5b0b-a38f-4b5d-a073-1256bff7bd99">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
