<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="caad79d3-079a-4938-9abe-2e345a8d0900" name="Resiliency Testing - with wrong URL" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="caad79d3-079a-4938-9abe-2e345a8d0900fileName">Resiliency-Testing---with-wrong-URL</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="b184688a-3391-458c-9cbf-28a1da9e06a5">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="cd2d1d50-3d3b-4639-b0c6-3b31a67a9065">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="30493475-55f2-468b-affc-20813bdf1a94">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
