<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="a33c8093-b05c-42ec-b995-7f839c7d52ca" name="RetrieveTravelAgentProfile_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="a33c8093-b05c-42ec-b995-7f839c7d52cafileName">RetrieveTravelAgentProfile_TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
