<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="64b066a6-4e7d-4025-a861-7e574428c22e" name="RetrieveDestinationContent_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="64b066a6-4e7d-4025-a861-7e574428c22efileName">RetrieveDestinationContent_TestSuite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="2ec36bd4-8e07-4ff7-976f-50b7fb197bda">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
