<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="93f8f4c1-b4f2-41b3-8132-58c4f697fbfc" wadlVersion="http://wadl.dev.java.net/2009/02" name="Catalog operations" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="93f8f4c1-b4f2-41b3-8132-58c4f697fbfcfileName">Catalog-operations</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints/>
  <con:environmentSpec>
    <con:entry environmentId="1009a08b-a845-48a2-b1c6-aa5a500238ea">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
