<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="daa915ba-22d1-4c00-b564-cb7295f8855e" name="Positive_Test-Full-Payment-Parallel-Execution" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="daa915ba-22d1-4c00-b564-cb7295f8855efileName">Positive_Test-Full-Payment-Parallel-Execution</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>PARALLELL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
