<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="59722eac-0709-4ab0-8035-3285799aead8" name="PromoGeoLocation_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="940d9608-8f15-4e2f-9bbc-886c03d80023fileName">Interview_TestSuite</con:setting>
    <con:setting id="59722eac-0709-4ab0-8035-3285799aead8fileName">PromoGeoLocation_TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
