<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="f4acc494-c6b3-47e5-b8ee-0c90fe553715" name="RetrieveEmails_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="940d9608-8f15-4e2f-9bbc-886c03d80023fileName">Interview_TestSuite</con:setting>
    <con:setting id="f4acc494-c6b3-47e5-b8ee-0c90fe553715fileName">RetrieveEmails_TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
