<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="6c15412e-b8dd-484d-9864-02c2df091291" name="RetrieveTopLevelDomainsContent_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="6c15412e-b8dd-484d-9864-02c2df091291fileName">RetrieveTopLevelDomainsContent_TestSuite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="2ec36bd4-8e07-4ff7-976f-50b7fb197bda">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
