<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="43fefc34-d216-4dfe-bf4b-d10deb5e4da4" name="RetrieveShopperReport_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="43fefc34-d216-4dfe-bf4b-d10deb5e4da4fileName">RetrieveShopperReport_TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
