<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="3ec578e5-856f-4557-abda-197346356304" name="RetrieveSailing_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="3ec578e5-856f-4557-abda-197346356304fileName">RetrieveSailing_TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
