<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="0a457db6-76d6-41ea-a947-052d7b681d6d" name="RetrieveShipContent_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="0a457db6-76d6-41ea-a947-052d7b681d6dfileName">RetrieveShipContent_TestSuite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="2ec36bd4-8e07-4ff7-976f-50b7fb197bda">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
