<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="fb90dad7-03a0-411b-a86a-fc1008aab7fe" name="FCC Redeem_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="fb90dad7-03a0-411b-a86a-fc1008aab7fefileName">FCC-Redeem_TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
