<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="496bf2d4-08c8-431e-96df-c866e5358fa9" name="CreateEmailNotificationLog_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="940d9608-8f15-4e2f-9bbc-886c03d80023fileName">Interview_TestSuite</con:setting>
    <con:setting id="496bf2d4-08c8-431e-96df-c866e5358fa9fileName">CreateEmailNotificationLog_TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
