<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="b7f094c9-d6dc-41be-97b6-a0d1492ae06f" name="RetrieveStateroomDetail without DB_ TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="b7f094c9-d6dc-41be-97b6-a0d1492ae06ffileName">RetrieveStateroomDetail-without-DB_-TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
