<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="e2382298-8631-45ac-a018-95d0be9ea85d" name="Management" type="rest_ex" wadlVersion="https://swagger.io/openapiv3/specification" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <con:settings>
    <con:setting id="e2382298-8631-45ac-a018-95d0be9ea85dfileName">Management</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart="Management.json">
    <con:part>
      <con:url>Management.json</con:url>
      <con:content>{"openapi":"3.0.1","info":{"title":"Management","version":"1.0.0"},"servers":[{"url":"/"}],"paths":{"/rest/v2.0/sendBookingEmail":{"description":"","post":{"description":"","requestBody":{"content":{"application/json":{"example":"{\n\t\"header\": {\n\t\t\"application\": \"${#TestCase#application}\",\n\t\t\"language\": \"en_US\",\n\t\t\"brand\": \"${#TestCase#brand}\",\n\t\t\"domainId\": \"1\"\n\t},\n\t\"bookingId\": \"${#TestCase#bookingId}\",\n\t\"emailType\": \"FULL_PAY_GUEST\",\n\t\"altRecipient\": {\n\t\t\"firstName\": \"${#TestCase#firstname}\",\n\t\t\"lastName\": \"${#TestCase#lastname}\",\n\t\t\"email\": \"charmainejaneelduayan@rcclapac.com\"\n\t},\n\t\"countryCode\": \"${#TestCase#country}\",\n\t\"agencyId\": null\n}"}}},"responses":{"default":{"description":"Default response"}}}}}}</con:content>
      <con:type>https://swagger.io/openapiv3/specification</con:type>
    </con:part>
  </con:definitionCache>
  <con:endpoints/>
</con:interface>
