<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="1b6ab4a2-5d5b-43c4-8744-3594a197fe15" name="RetrieveSailingMaster_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="1b6ab4a2-5d5b-43c4-8744-3594a197fe15fileName">RetrieveSailingMaster_TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
