<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="fb6c07e1-11e9-41e3-a168-1f41baa2f4e7" name="RetrieveStateroomTypeDetailContent_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="fb6c07e1-11e9-41e3-a168-1f41baa2f4e7fileName">RetrieveStateroomTypeDetailContent_TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
