<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="89bf8cd1-5a04-4220-998a-7a3a5c947ee9" name="Content Service_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="89bf8cd1-5a04-4220-998a-7a3a5c947ee9fileName">Content-Service_TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
