<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="b327e2e7-afb6-499e-8c41-7cbd42e5135f" name="RetrieveShipClassContent_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="b327e2e7-afb6-499e-8c41-7cbd42e5135ffileName">RetrieveShipClassContent_TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
