<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="061fcc40-721f-4588-86a6-ef420845986e" name="RetrievePortDetailContent_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="061fcc40-721f-4588-86a6-ef420845986efileName">RetrievePortDetailContent_TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
