<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="829aa8b4-91c9-4599-8154-cc0ff2808702" wadlVersion="http://wadl.dev.java.net/2009/02" name="Booking operations" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="829aa8b4-91c9-4599-8154-cc0ff2808702fileName">Booking-operations</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints/>
</con:interface>
