<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="eb94d5f5-5b00-437a-a05d-18aca01cd2d3" created="2.5.0" activeEnvironment="RLE" name="Management_REST" resourceRoot="${projectDir}" updated="3.44.1" encryptionMode="Not encrypted" abortOnError="false" runType="SEQUENTIAL" soapui-version="5.3.0" projectVersion="" compositeProjectFormat="1.3" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="eb94d5f5-5b00-437a-a05d-18aca01cd2d3fileName">Management_REST-readyapi-project</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:requirements/>
  <con:properties>
    <con:property>
      <con:name>AppKey</con:name>
    </con:property>
  </con:properties>
  <con:wssContainer/>
  <con:databaseConnectionContainer/>
  <con:jmsConnectionContainer/>
  <con:oAuth2ProfileContainer/>
  <con:oAuth1ProfileContainer/>
  <con:eventHandlers type="RequestFilter.filterRequest" name="RequestFilter.filterRequest">
    <con:script>// Sample event script to add custom HTTP header to all outgoing REST, SOAP and HTTP(S) calls
// This code is often used for adding custom authentication to SoapUI Pro tests

// If hardcoding the token, uncomment and change line 5
// def token = '4567'

// If your token is parameterized in Project level custom property, uncomment line 8
// def token = request.parent.testCase.testSuite.project.getProperty('auth_token').getValue()

// To modify all outgoing calls, remove comments from lines 11 to 16
// def headers = request.requestHeaders
// if (headers.containsKey('auth_token2') == false) {
//   headers.put('auth_token2', token)
//   request.requestHeaders = headers
// }</con:script>
  </con:eventHandlers>
  <con:eventHandlers type="TestRunListener.afterStep" name="TestRunListener.afterStep">
    <con:script>// Save all test step results into files
// Change the directory path in line 5 to a location where you want to store details
// then uncomment lines 5 to 10

// filePath = 'C:\\tempOutputDirectory\\'
// fos = new FileOutputStream(filePath + testStepResult.testStep.label + '.txt', true)
// pw = new PrintWriter(fos)
// testStepResult.writeTo(pw)
// pw.close()
// fos.close()</con:script>
  </con:eventHandlers>
  <con:environment id="da4da12c-07ab-4206-acf3-1bc119bfa803" name="RLE" index="0">
    <con:service type="REST" name="Booking">
      <con:endpoint authProfile="No Authorization" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://tst1-int.api.rccl.com/esl/booking/tst2</con:endpoint>
    </con:service>
    <con:service type="REST" name="Google">
      <con:endpoint authProfile="No Authorization" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://sheetdb.io/api/v1/2qakncmxaivve</con:endpoint>
    </con:service>
    <con:service type="REST" name="Content">
      <con:endpoint authProfile="No Authorization" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://tst1-int.api.rccl.com/esl/content/tst2</con:endpoint>
    </con:service>
    <con:service type="REST" name="Profile">
      <con:endpoint authProfile="No Authorization" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://tst1-int.api.rccl.com/esl/profile/tst2</con:endpoint>
    </con:service>
    <con:service type="REST" name="ManagementOperations">
      <con:endpoint authProfile="No Authorization" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://tst1-int.api.rccl.com/esl/management/tst2/rest/v2.0</con:endpoint>
    </con:service>
    <con:property>
      <con:name>AppKey</con:name>
      <con:value>bjnm9J1yJjsQQLqQ8H1ffKtDAv3kQohG</con:value>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="fc1d9e4e-4d88-49b3-9cb3-ef4210009f89" name="RLC" index="1">
    <con:service type="REST" name="Booking">
      <con:endpoint authProfile="No Authorization" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://tst1-int.api.rccl.com/esl/booking/tst1</con:endpoint>
    </con:service>
    <con:service type="REST" name="Google">
      <con:endpoint authProfile="No Authorization" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://sheetdb.io/api/v1/2qakncmxaivve</con:endpoint>
    </con:service>
    <con:service type="REST" name="Content">
      <con:endpoint authProfile="No Authorization" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://tst1-int.api.rccl.com/esl/content/tst1</con:endpoint>
    </con:service>
    <con:service type="REST" name="Profile">
      <con:endpoint authProfile="No Authorization" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://tst1-int.api.rccl.com/esl/profile/tst1</con:endpoint>
    </con:service>
    <con:service type="REST" name="ManagementOperations">
      <con:endpoint authProfile="No Authorization" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://tst1-int.api.rccl.com/esl/management/tst1/rest/v2.0</con:endpoint>
    </con:service>
    <con:property>
      <con:name>AppKey</con:name>
      <con:value>bjnm9J1yJjsQQLqQ8H1ffKtDAv3kQohG</con:value>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="53516c62-e8e0-4b88-b003-4c0e2aa8dbd3" name="RLB" index="2">
    <con:service type="REST" name="Booking">
      <con:endpoint authProfile="No Authorization" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://tst1-int.api.rccl.com/esl/booking/tst3</con:endpoint>
    </con:service>
    <con:service type="REST" name="Google">
      <con:endpoint authProfile="No Authorization" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://sheetdb.io/api/v1/2qakncmxaivve</con:endpoint>
    </con:service>
    <con:service type="REST" name="Content">
      <con:endpoint authProfile="No Authorization" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://tst1-int.api.rccl.com/esl/content/tst3</con:endpoint>
    </con:service>
    <con:service type="REST" name="Profile">
      <con:endpoint authProfile="No Authorization" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://tst1-int.api.rccl.com/esl/profile/tst3</con:endpoint>
    </con:service>
    <con:service type="REST" name="ManagementOperations">
      <con:endpoint authProfile="No Authorization" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://tst1-int.api.rccl.com/esl/management/tst3/rest/v2.0</con:endpoint>
    </con:service>
    <con:property>
      <con:name>AppKey</con:name>
      <con:value>ZJCQR5Gf2v7I5zaz8jtOGGe3sbTXMcJp</con:value>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="0fbe5b0b-a38f-4b5d-a073-1256bff7bd99" name="Production" index="3">
    <con:service type="REST" name="Booking">
      <con:endpoint authProfile="No Authorization" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://prd-int.api.rccl.com/esl/booking/prd</con:endpoint>
    </con:service>
    <con:service type="REST" name="Google">
      <con:endpoint authProfile="No Authorization" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://sheetdb.io/api/v1/ienf9s3f2wsx2</con:endpoint>
    </con:service>
    <con:service type="REST" name="Content">
      <con:endpoint authProfile="No Authorization" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://prd-int.api.rccl.com/esl/content/prd</con:endpoint>
    </con:service>
    <con:service type="REST" name="Profile">
      <con:endpoint authProfile="No Authorization" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://prd-int.api.rccl.com/esl/profile/prd</con:endpoint>
    </con:service>
    <con:service type="REST" name="ManagementOperations">
      <con:endpoint authProfile="No Authorization" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://prd-int.api.rccl.com/esl/management/prd/rest/v2.0</con:endpoint>
    </con:service>
    <con:property>
      <con:name>AppKey</con:name>
      <con:value>IxXPQQ9zMH1sqEouOnoaCCPwDRPATiKo</con:value>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:authRepository/>
  <con:environmentSpec>
    <con:entry environmentId="e0214587-14d2-4948-93d6-50ffda020abe">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="f0c84e04-8c43-4b65-8b3a-c89a32ce3bad">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="5b7f0edb-3bc7-4a0f-87b1-cc19488216dc">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="8a59a589-59b4-4db1-a706-cc881b352949">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="06eafee3-dfa3-4b09-9505-b6dae77c2787">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="0ed36b85-a157-4a16-aaa1-cf6a711f1058">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="da4da12c-07ab-4206-acf3-1bc119bfa803">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="fc1d9e4e-4d88-49b3-9cb3-ef4210009f89">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="53516c62-e8e0-4b88-b003-4c0e2aa8dbd3">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="0fbe5b0b-a38f-4b5d-a073-1256bff7bd99">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
  </con:environmentSpec>
  <con:tags/>
</con:soapui-project>
