<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="282b6362-9349-417f-be83-d8a95bd6b316" name="Country_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="282b6362-9349-417f-be83-d8a95bd6b316fileName">Country_TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
