<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="2920363f-5418-4bfe-aa33-5a7586a4c697" created="2.3.0" activeEnvironment="content-tst5" name="Content_REST" resourceRoot="" updated="3.42.0" encryptionMode="Not encrypted" abortOnError="false" runType="PARALLELL" soapui-version="5.3.0" compositeProjectFormat="1.3" projectVersion="c3ecc2b0-aa67-47d2-a15f-80560a7248ce" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="IncludeOverview">true</con:setting>
    <con:setting id="IncludeResults">true</con:setting>
    <con:setting id="FlowLayout">false</con:setting>
    <con:setting id="ErrorDetails">true</con:setting>
    <con:setting id="IncludeCoverage">true</con:setting>
    <con:setting id="GeneratableJUnitReport@Style">Single Page (Print)</con:setting>
    <con:setting id="GeneratableJUnitReport@Folder">C:\Results</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:requirements/>
  <con:properties>
    <con:property>
      <con:name>AppKey</con:name>
    </con:property>
    <con:property>
      <con:name>Refresh-Cache</con:name>
    </con:property>
  </con:properties>
  <con:wssContainer/>
  <con:databaseConnectionContainer/>
  <con:jmsConnectionContainer/>
  <con:oAuth2ProfileContainer/>
  <con:oAuth1ProfileContainer/>
  <con:reporting/>
  <con:environment id="3e47ab98-2ed1-4444-bf7e-364d795409d3" name="Dev1-Mesos-RLA">
    <con:service type="REST" name="ContentOperations">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://dev2.mesos.rccl.com/services.content/v4/content/rest/v3/</con:endpoint>
    </con:service>
    <con:property>
      <con:name>AppKey</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Refresh-Cache</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="f2a278df-5d82-4e73-acdb-b65e6360c90f" name="content-dev2">
    <con:service type="REST" name="ContentOperations">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://dev1-int.api.rccl.com/esl/content/dev2/rest/v3/</con:endpoint>
    </con:service>
    <con:property>
      <con:name>AppKey</con:name>
      <con:value>qByaWnKZmWr7hInQ9uDZAxzEBjk6Odg1</con:value>
    </con:property>
    <con:property>
      <con:name>Refresh-Cache</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="360ea474-44e8-4c15-aa2f-212ca0099c40" name="Dev2-Mesos-RLA">
    <con:service type="REST" name="ContentOperations">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://dev2.mesos.rccl.com/content-dev2/v4/content/rest/v3/</con:endpoint>
    </con:service>
    <con:property>
      <con:name>AppKey</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Refresh-Cache</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="d96b2545-a71d-4762-a09c-56da3ad3b8f1" name="content-tst1">
    <con:service type="REST" name="ContentOperations">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://tst1-int.api.rccl.com/esl/content/tst1/rest/v3/</con:endpoint>
    </con:service>
    <con:property>
      <con:name>AppKey</con:name>
      <con:value>csbiHs6ix97InkAwG135AJkNQQcoWOpw</con:value>
    </con:property>
    <con:property>
      <con:name>Refresh-Cache</con:name>
      <con:value>true</con:value>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="90eb4ea6-c5a8-4078-99bf-ad795ba7cdcc" name="Tst1-Mesos-RLA">
    <con:service type="REST" name="ContentOperations">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://tst2.mesos.rccl.com/content-tst1/v4/content/rest/v3/</con:endpoint>
    </con:service>
    <con:property>
      <con:name>AppKey</con:name>
      <con:value>csbiHs6ix97InkAwG135AJkNQQcoWOpw</con:value>
    </con:property>
    <con:property>
      <con:name>Refresh-Cache</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="61fc4831-fda1-4421-9e1f-b260408fcf11" name="content-tst2">
    <con:service type="REST" name="ContentOperations">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://tst1-int.api.rccl.com/esl/content/tst2/rest/v3/</con:endpoint>
    </con:service>
    <con:property>
      <con:name>AppKey</con:name>
      <con:value>csbiHs6ix97InkAwG135AJkNQQcoWOpw</con:value>
    </con:property>
    <con:property>
      <con:name>Refresh-Cache</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="002543d7-c222-4ad8-bb61-37afbfedc79e" name="Tst2-Mesos-RLE">
    <con:service type="REST" name="ContentOperations">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://tst2.mesos.rccl.com/content-tst2/v4/content/rest/v3/</con:endpoint>
    </con:service>
    <con:property>
      <con:name>AppKey</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Refresh-Cache</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="7ef0c8b8-3eff-4bb5-a00e-9feba286823b" name="content-tst3">
    <con:service type="REST" name="ContentOperations">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://tst1-int.api.rccl.com/esl/content/tst3/rest/v3/</con:endpoint>
    </con:service>
    <con:property>
      <con:name>AppKey</con:name>
      <con:value>csbiHs6ix97InkAwG135AJkNQQcoWOpw</con:value>
    </con:property>
    <con:property>
      <con:name>Refresh-Cache</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="7d737622-06dc-408c-bbae-02c4afb2b6f6" name="Tst3-Mesos-RLB">
    <con:service type="REST" name="ContentOperations">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://tst2.mesos.rccl.com/content-tst3/v4/content/rest/v3/</con:endpoint>
    </con:service>
    <con:property>
      <con:name>AppKey</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Refresh-Cache</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="0eb3095d-3732-454e-89c8-e4a296090f19" name="content-tst4">
    <con:service type="REST" name="ContentOperations">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://tst1-int.api.rccl.com/esl/content/tst4/rest/v3/</con:endpoint>
    </con:service>
    <con:property>
      <con:name>AppKey</con:name>
      <con:value>csbiHs6ix97InkAwG135AJkNQQcoWOpw</con:value>
    </con:property>
    <con:property>
      <con:name>Refresh-Cache</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="fc46b611-d665-456e-bae1-9e5d9bd64342" name="Tst4-Mesos-RLA">
    <con:service type="REST" name="ContentOperations">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://tst2.mesos.rccl.com/content-tst4/v4/content/rest/v3/</con:endpoint>
    </con:service>
    <con:property>
      <con:name>AppKey</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Refresh-Cache</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="20fc0a6e-3a99-4720-bde9-a870849fdc47" name="content-tst5">
    <con:service type="REST" name="ContentOperations">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://tst1-int.api.rccl.com/esl/content/tst5/rest/v3/</con:endpoint>
    </con:service>
    <con:property>
      <con:name>AppKey</con:name>
      <con:value>csbiHs6ix97InkAwG135AJkNQQcoWOpw</con:value>
    </con:property>
    <con:property>
      <con:name>Refresh-Cache</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="b4be32d6-37cc-4ef9-8c9a-eff173d9f3c9" name="Tst5-Mesos-RLA">
    <con:service type="REST" name="ContentOperations">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://tst2.mesos.rccl.com/content-tst5/v4/content/rest/v3/</con:endpoint>
    </con:service>
    <con:property>
      <con:name>AppKey</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Refresh-Cache</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="3720eec7-2abc-4e66-be68-ff5876ba7409" name="content-stg1">
    <con:service type="REST" name="ContentOperations">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://stg1-int.api.rccl.com/esl/content/stg1/rest/v3/</con:endpoint>
    </con:service>
    <con:property>
      <con:name>AppKey</con:name>
      <con:value>qP2wzibM0y9rLeRc3jAZQEoBMGgtVGj7</con:value>
    </con:property>
    <con:property>
      <con:name>Refresh-Cache</con:name>
      <con:value>true</con:value>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="d89d0f30-32ef-4f59-a748-63dc5aeccd34" name="Stg1-Mesos-Colstage">
    <con:service type="REST" name="ContentOperations">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://stg1.mesos.rccl.com/content-stg1/v4/content/rest/v3/</con:endpoint>
    </con:service>
    <con:property>
      <con:name>AppKey</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Refresh-Cache</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="4b19d50e-3488-4b9e-9a91-1374290a914f" name="content-stg2">
    <con:service type="REST" name="ContentOperations">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://stg1-int.api.rccl.com/esl/content/stg2/rest/v3/</con:endpoint>
    </con:service>
    <con:property>
      <con:name>AppKey</con:name>
      <con:value>qP2wzibM0y9rLeRc3jAZQEoBMGgtVGj7</con:value>
    </con:property>
    <con:property>
      <con:name>Refresh-Cache</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="a33d85b3-40b8-46d4-854a-5e263a49ceba" name="Stg2-Mesos">
    <con:service type="REST" name="ContentOperations">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://stg1.mesos.rccl.com/content-stg2/v4/content/rest/v3/</con:endpoint>
    </con:service>
    <con:property>
      <con:name>AppKey</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Refresh-Cache</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="4b9186ba-ac78-4aa3-b982-268434773a7f" name="content-stg3">
    <con:service type="REST" name="ContentOperations">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://stg1-int.api.rccl.com/esl/content/stg3/rest/v3/</con:endpoint>
    </con:service>
    <con:property>
      <con:name>AppKey</con:name>
      <con:value>qP2wzibM0y9rLeRc3jAZQEoBMGgtVGj7</con:value>
    </con:property>
    <con:property>
      <con:name>Refresh-Cache</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="fb0221bf-4631-422e-98d8-f64abbd854b7" name="Stg3-Mesos">
    <con:service type="REST" name="ContentOperations">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://stg1.mesos.rccl.com/content-stg3/v4/content/rest/v3/</con:endpoint>
    </con:service>
    <con:property>
      <con:name>AppKey</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Refresh-Cache</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="025fcdd8-b7fb-4d76-89e9-e1c914377e5e" name="content-prd1a">
    <con:service type="REST" name="ContentOperations">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://prd-int.api.rccl.com/esl/content/prd/rest/v3/</con:endpoint>
    </con:service>
    <con:property>
      <con:name>AppKey</con:name>
      <con:value>qpRMO6lj4smwkT1sWlSdIj7b8QF5rG8Q</con:value>
    </con:property>
    <con:property>
      <con:name>Refresh-Cache</con:name>
      <con:value>true</con:value>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="47f3487d-c89e-492c-8a9c-2747b88e7838" name="Cul-Stg1-esl-1.0">
    <con:service type="REST" name="ContentOperations">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://cul.stg1.api.internal.services.rccl.com/esl/content/rest/v3/</con:endpoint>
    </con:service>
    <con:property>
      <con:name>AppKey</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Refresh-Cache</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="ee486811-6195-43f4-a831-5ed2ca450085" name="Cul-Prd-esl-1.0">
    <con:service type="REST" name="ContentOperations">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://cul.api.internal.services.rccl.com/esl/content/rest/v3/</con:endpoint>
    </con:service>
    <con:property>
      <con:name>AppKey</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Refresh-Cache</con:name>
      <con:value>true</con:value>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="d3d31d95-4d37-4fb4-aa62-0d515dede678" name="Legacy-Prd-esl-1.0">
    <con:service type="REST" name="ContentOperations">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://api.internal.services.rccl.com/esl/content/rest/v3/</con:endpoint>
    </con:service>
    <con:property>
      <con:name>AppKey</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Refresh-Cache</con:name>
      <con:value>true</con:value>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="e5c6724a-87d3-4918-9703-3c335b95a375" name="jvm-14000">
    <con:service type="REST" name="ContentOperations">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://10.18.42.105:14000/esl/content/rest/v3/</con:endpoint>
    </con:service>
    <con:property>
      <con:name>AppKey</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Refresh-Cache</con:name>
      <con:value>true</con:value>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="0cc4e466-1137-4bde-a775-2c8deb230e0e" name="jvm-14030">
    <con:service type="REST" name="ContentOperations">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://10.18.42.105:14030/esl/content/rest/v3</con:endpoint>
    </con:service>
    <con:property>
      <con:name>AppKey</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Refresh-Cache</con:name>
      <con:value>true</con:value>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="8bcaaf48-284a-4750-bd4a-15856025bfb8" name="jvm-14060">
    <con:service type="REST" name="ContentOperations">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://10.18.42.105:14060/esl/content/rest/v3/</con:endpoint>
    </con:service>
    <con:property>
      <con:name>AppKey</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Refresh-Cache</con:name>
      <con:value>true</con:value>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="9db663d0-6df6-4737-83a6-cd9d5c867f4f" name="106-14060">
    <con:service type="REST" name="ContentOperations">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://10.18.42.106:14060/esl/content/rest/v3/</con:endpoint>
    </con:service>
    <con:property>
      <con:name>AppKey</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Refresh-Cache</con:name>
      <con:value>true</con:value>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="f3eb6cd9-21ee-4030-940b-356e8a765fec" name="today">
    <con:service type="REST" name="ContentOperations">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://10.18.40.42/esl/content/rest/v3</con:endpoint>
    </con:service>
    <con:property>
      <con:name>AppKey</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Refresh-Cache</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="a29ce303-a546-4bd3-9bd7-ce26a9fae0f2" name="try">
    <con:service type="REST" name="ContentOperations">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://aixpaesl055l45.rccl.com:24030/esl/content/rest/v3/</con:endpoint>
    </con:service>
    <con:property>
      <con:name>AppKey</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Refresh-Cache</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="aa0d94f7-b38f-4899-94cb-f009ff8d5f34" name="try(new)">
    <con:service type="REST" name="ContentOperations">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://10.18.42.59:9011/esl/content/rest/v3/</con:endpoint>
    </con:service>
    <con:property>
      <con:name>AppKey</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Refresh-Cache</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="168d4856-d89c-4c77-b153-ddc77dee7b2c" name="Stg2- esl-1.0">
    <con:service type="REST" name="ContentOperations">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://eslb.stg2.internal.services.rccl.com/esl/content/rest/v3/</con:endpoint>
    </con:service>
    <con:property>
      <con:name>AppKey</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Refresh-Cache</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="6234d4f7-43f1-4cf7-9e47-d33ebe8ec561" name="Tst1-esl-1.0">
    <con:service type="REST" name="ContentOperations">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://eslbservicestst01.rccl.com:14000/esl/content/rest/v3/</con:endpoint>
    </con:service>
    <con:property>
      <con:name>AppKey</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Refresh-Cache</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="08fecf5f-2d43-4c85-81d6-7e0faa32320a" name="80">
    <con:service type="REST" name="ContentOperations">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://api.internal.services.rccl.com:80/esl/content/rest/v2.0/</con:endpoint>
    </con:service>
    <con:property>
      <con:name>AppKey</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Refresh-Cache</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="eab9a467-bb15-480b-b760-b5b5b3144e23" name="legacy(Test)">
    <con:service type="REST" name="ContentOperations">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://api.internal.services.rccl.com/esl/content/rest/v2/</con:endpoint>
    </con:service>
    <con:property>
      <con:name>AppKey</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Refresh-Cache</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:authRepository/>
  <con:environmentSpec>
    <con:entry environmentId="2ec36bd4-8e07-4ff7-976f-50b7fb197bda">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
  </con:environmentSpec>
  <con:tags/>
</con:soapui-project>
