<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="7f07de48-3fa0-4c16-ab5d-6a3e8429eec3" name="RetrieveDealsContent_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="7f07de48-3fa0-4c16-ab5d-6a3e8429eec3fileName">RetrieveDealsContent_TestSuite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="2ec36bd4-8e07-4ff7-976f-50b7fb197bda">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
