<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="f9c015ac-6e08-454e-b481-47fe910adf58" name="InterviewLocation_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="940d9608-8f15-4e2f-9bbc-886c03d80023fileName">Interview_TestSuite</con:setting>
    <con:setting id="84faf438-9921-4223-a1f7-9051a46ebd92fileName">CruiseCriticReservation_TestSuite</con:setting>
    <con:setting id="f9c015ac-6e08-454e-b481-47fe910adf58fileName">InterviewLocation_TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
