<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="bae83c6d-dbc3-441b-82db-9181ab8c81ce" name="RetrieveGeoLocation_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="bae83c6d-dbc3-441b-82db-9181ab8c81cefileName">RetrieveGeoLocation_TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
