<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="0ae4532c-82a9-44a6-acd0-5d5c45cfcf0d" name="FCC Validation_TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="0ae4532c-82a9-44a6-acd0-5d5c45cfcf0dfileName">FCC-Validation_TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
